
.app{
  background-color: #cdd7d8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  margin: 20px 30%;
  border: 1px #000 solid;
}

h1{
  font-size: 30px;
  justify-content: center;
  display: flex;
  text-decoration: underline;
}

.contenedorInputs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  max-width: 100%;
}

.contenedorInputs input {
  padding: 5px;
  font-size: 16px;
  border: 1px, solid, #000;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 4px;
  flex-grow: 1;

}

.contenedorButton{
    display: flex;
    justify-content: center;
  
}

.contenedorButton button{
  padding: 5px 15px;
  font-size: 16px;
  cursor:pointer;
  background-color: #fff;
  border: 1px, solid, #000;
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 4px;
}

.contenedorInputs input[type="text"] {
  width: 60%; 
  
}

.contenedorInputs input[type="number"] {
  width: 20%; 
}

.contenedorButton button:hover {
  background-color: #99aaab;
}

.lista{
  margin: 10px;
}

.lista h2{
  font-size: 18px;
  text-decoration: underline;
}

.lista li {
  padding: 4px 0;
  display: flex; 
  align-items: center; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px; 
}

.lista li button {
  margin-left: 10px; 
  font-size: 12px;
  cursor:pointer;
  background-color: #fff;
  border: 1px, solid, #000;
  display: flex;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', sans-serif, serif;
  border-radius: 2px;
}

.lista li button:hover{
  background-color: #99aaab;
}